.DS_Store
*/.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local

package-lock.json
.git
.prettierignore
.eslintignore
.gitignore
*.json
*.css
*.scss
*.sass
*.less
*.styl

*.wasm
*.txt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ttf
*.html
*.ico
*.md
*.lock
.browserslistrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
